.text {
  z-index: 3;
  display: block;
  font-family: "Poppins";
  font-style: normal;

  &_variant {
    &_caption {
      font-weight: 500;
      font-size: 34px;
      line-height: 51px;
      letter-spacing: -0.035em;
    }
    &_text {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }
  }
}
